.navbar {
  width: 100%;
  height: 60px;
  background-color: #ffffff00;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  position: static;
  margin: 0;
}

.account-button {
  padding: 8px 16px;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.account-button:hover {
  background-color: #0056b3:
}

.navbar-logo {
  font-size: 1.2rem;
  font-weight: bold;
}
