/* Navbar base — ahora sección normal */
.navbar {
  width: 100%;
  height: 60px;                /* altura móvil */
  background-color: #ffffff00; /* transparente, cambia si quieres */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  position: static; /* ya no es fija */
  margin: 0;        /* elimina márgenes por defecto */
}

/* Logo */
.navbar-logo {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Ajustes para pantallas más grandes */
@media (min-width: 768px) {
  .navbar {
    height: 70px;
    padding: 0 40px;
  }

  .navbar-logo {
    font-size: 1.4rem;
  }

}

/* Reiniciar márgenes del body para evitar gaps extra */
body {
  margin: 0;
  padding: 0;
}
